<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SqlBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <SqlBackup.Properties.Settings>
            <setting name="servername" serializeAs="String">
                <value />
            </setting>
            <setting name="database" serializeAs="String">
                <value />
            </setting>
            <setting name="filepath" serializeAs="String">
                <value />
            </setting>
            <setting name="backupsetname" serializeAs="String">
                <value />
            </setting>
            <setting name="backupsetdescription" serializeAs="String">
                <value />
            </setting>
            <setting name="expirationDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="incremental" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="intervalInHours" serializeAs="String">
                <value>24</value>
            </setting>
        </SqlBackup.Properties.Settings>
    </applicationSettings>
</configuration>
